"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$directory\
$git_branch\
$git_status\
$docker_context\
$conda\
$pixi\
$time\
$line_break$character"""

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

[username]
show_always = true
style_user = "bg:color_orange fg:color_fg0"
style_root = "bg:color_orange fg:color_fg0"
format = '[ $user ]($style)'

[directory]
style = "fg:color_fg0 bg:color_yellow"
format = "[ $path ]($style)"
truncation_length = 0
truncate_to_repo = false
truncation_symbol = ""

[git_branch]
symbol = ""
style = "bg:color_aqua"
format = '[[ $symbol $branch ](fg:color_fg0 bg:color_aqua)]($style)'
[git_status]
style = "bg:color_aqua"
format = "[ $all_status$ahead_behind ](fg:color_fg0 bg:color_aqua)"

staged      = " staged:${count} "
modified    = " modified:${count} "
untracked   = " untracked:${count} "
stashed     = " stash:${count} "
renamed     = " renamed:${count} "
deleted     = " deleted:${count} "
conflicted  = " conflict:${count} "

ahead    = " ahead:${count} "
behind   = " behind:${count} "
diverged = " diverged:${ahead_count} ${behind_count} "

up_to_date = ""
# [git_status]
# style = "bg:color_aqua"
# format = "[ $all_status$ahead_behind ](fg:color_fg0 bg:color_aqua)"
#
# staged      = "staged:+${count} "
# modified    = "modified:!${count} "
# untracked   = "untracked:?${count} "
# stashed     = "stash:${count} "
# renamed     = "renamed:${count} "
# deleted     = "deleted:${count} "
# conflicted  = "conflict:${count} "
# typechanged = "typechg:${count} "
#
# ahead    = "ahead:↑${count} "
# behind   = "behind:↓${count} "
# diverged = "diverged:↕↑${ahead_count}↓${behind_count} "
#
# up_to_date = ""
#
[python]
symbol = ""
style = "bg:color_blue"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_blue)]($style)'

[docker_context]
symbol = ""
style = "bg:color_bg3"
format = '[[ $symbol( $context) ](fg:#83a598 bg:color_bg3)]($style)'

[conda]
style = "bg:color_bg3"
format = '[[ $symbol( $environment) ](fg:#83a598 bg:color_bg3)]($style)'

[pixi]
style = "bg:color_bg3"
format = '[[ $symbol( $version)( $environment) ](fg:color_fg0 bg:color_bg3)]($style)'

[time]
disabled = false
time_format = "%R"
style = "bg:color_bg1"
format = '[[  $time ](fg:color_fg0 bg:color_bg1)]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[](bold fg:color_green)'
error_symbol = '[](bold fg:color_red)'
vimcmd_symbol = '[](bold fg:color_green)'
vimcmd_replace_one_symbol = '[](bold fg:color_purple)'
vimcmd_replace_symbol = '[](bold fg:color_purple)'
vimcmd_visual_symbol = '[](bold fg:color_yellow)'
